<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.2ml-crm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>ABSOLUTE_PATH_TO_BE_REPLACED/scripts/start-production.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>ABSOLUTE_PATH_TO_BE_REPLACED/logs/error.log</string>
    <key>StandardOutPath</key>
    <string>ABSOLUTE_PATH_TO_BE_REPLACED/logs/output.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PORT</key>
        <string>4500</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>ABSOLUTE_PATH_TO_BE_REPLACED</string>
</dict>
</plist> 